# Python artifacts
__pycache__/
*.py[cod]
*.log

# Django local DB and media
*.sqlite3
media/

# Pipenv environment
Pipfile.lock

# Virtualenvs
.venv/
venv/
.env

# IDE & OS files
.vscode/
.idea/
.DS_Store

# If your model is large, manage via LFS instead
ml/model_data/*.pkl
